<!DOCTYPE html>
<html lang="pl-PL">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" type="image/png" href="#">
  <title>Student's Fighting Pit</title>
</head>

<body>

  <header>
    <h1>Student's Fighting Pit</h1>
    <img src="/images/logo.jpg" alt="SFP Logo">
  </header>

  <nav>
    <ul>
      <li><a href="/" class="<%= navLocation == 'main' ? 'active' : ''%>">Strona główna</a></li>
      <li><a href="/students" class="<%= navLocation == 'stud' ? 'active' : ''%>">Studenci</a></li>
      <li><a href="/committees" class="<%= navLocation == 'com' ? 'active' : ''%>">Komisje</a></li>
      <li><a href="/results" class="<%= navLocation == 'res' ? 'active' : ''%>">Rezultaty</a></li>
    </ul>
  </nav>