<%- include('../../fragments/header.ejs') %>

  <main>
    <h2>Dodaj nowy rezultat</h2>
    <form class="form" novalidate onsubmit="return validateForm();">
      <label for="student">Student:<sup>*</sup></label>
      <input list="students" name="student" id="student" />
      <datalist id="students">
        <option value="Jan Kowalski">
        <option value="Adam Barański">
        <option value="Karolina Dreszowska">
      </datalist>
      <span id="errorStudent" class="errors-text"></span>

      <label for="comittee">Komisja:<sup>*</sup></label>
      <input list="comittees" name="comittee" id="comittee" />
      <datalist id="comittees">
        <option value="Javaszewy">
        <option value="Robociarze">
        <option value="PRImadonny">
      </datalist>
      <span id="errorComittee" class="errors-text"></span>

      <label for="date">Data walki:<sup>*</sup></label>
      <input type="date" name="date" id="date">
      <span id="errorDate" class="errors-text"></span>

      <label for="result">Rezultat:<sup>*</sup></label>
      <input type="text" name="result" id="result">
      <span id="errorResult" class="errors-text"></span>

      <label for="grade">Ocena:<sup>*</sup></label>
      <input type="number" name="grade" id="grade" min=2 max=4>
      <span id="errorGrade" class="errors-text"></span>

      <div class="form-buttons">
        <p id="errorsSummary" class="errors-text"></p>
        <input type="submit" value="Dodaj" class="form-button-submit" />
        <a href="/results" class="form-button-cancel">Anuluj</a>
      </div>
    </form>
  </main>

  <%- include('../../fragments/footer.ejs') %>